{% extends 'base.html' %}

{% block title %}TestShop | Cart{% endblock %}

{% block content %}
{% for product in products %}
    <a href="{{ product.get_absolute_url }}" class="cart_product">
        <div class="cart_product_left">
            {% for image in product.images.all %}
                {% if forloop.first %}
                    <img src="{{ image.image.url }}" alt="product_preview">
                {% endif %}
            {% endfor %}
            <div>
                <h2 class="cart_product_title">{{ product.title }}</h2>
                <p class="cart_product_price">{{ product.price }} $</p>
            </div>
        </div>
        <form method="POST" action="{% url 'remove_cart_product' product.pk %}">
            {% csrf_token %}
            <button type="submit" class="cart_remove_product">Remove</button>
        </form>
    </a>
{% empty %}
    <p>There are no products in the cart :(</p>
{% endfor %}
{% if total_sum %}
    <p class="cart_total_sum">Total cart sum: {{ total_sum }} $</p>
{% endif %}
{% if products %}
    <div class="cart_buttons">
        <form method="POST" class="clear_cart_form">
            {% csrf_token %}
            <input class="clear_cart_button" type="submit" value="Clear cart">
            <a href="{% url 'create_order' %}" class="create_order">Create order</a>
        </form>
    </div>
{% endif %}
{% endblock %}
