{% extends 'base.html' %}
{% load cart_extras %}
{% load static %}

{% block title %}TestShop | {{ product.title }}{% endblock %}

{% block extended_headers_header %}
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
{% endblock %}

{% block extended_headers_footer %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
{% endblock %}

{% block content %}
<script defer>
    function addToCart() {
        fetch('/cart/add/{{ product.pk }}/', {
            method: 'POST',
            headers: {'X-CSRFToken': '{{ csrf_token }}'}
        });
        let product_added_in_cart_message = document.querySelector(
            '.product_added_in_cart'
        );
        let product_add_to_cart_button = document.querySelector(
            '.product_add_to_cart'
        );
        product_add_to_cart_button.style.display = 'none';
        product_added_in_cart_message.style.display = 'block';
    }
</script>
<article class="concrete_product">
    <section class="concrete_product_info">
        <div class="concrete_product_images">
            <div class="owl-carousel owl-theme">
                {% for image in product.images.all %}
                    <img class="item" src="{{ image.image.url }}" alt="product image">
                {% endfor %}
            </div>
        </div>
        <script>
            $(document).ready(function(){
              $(".owl-carousel").owlCarousel({
                items:1,
                autowidth:false,
                nav:true,
                dots:true,
              });
            });
        </script>
        <div class="concrete_product_right">
            <h1 class="concrete_product_title">{{ product.title }}</h1>
            <p class="concrete_product_price">{{ product.price }} $</p>
            <p class="concrete_product_short_description"><strong>Short description: </strong>{{ product.short_description }}</p>
            <p class="concrete_product_description"><strong>Description: </strong>{{ product.description }}</p>
            <p class="concrete_product_rating"><strong>Rating: </strong>{{ rating }}</p>
            {% if user.is_authenticated and not product|is_in_cart:request %}
                <button type="button" class="product_add_to_cart" onclick="addToCart();">Add to cart</button>
                <p class="product_added_in_cart">Product added to cart</p>
            {% endif %}
            {% if not user.is_authenticated %}
                <a href="{% url 'account_login' %}?next={{ request.path }}" class="product_add_to_cart">Log In to buy</a>
            {% endif %}
        </div>
    </section>
    {% if similar_products %}
        <h2 class="similar_products_title">Similar products</h2>
    {% endif %}
    <aside class="similar_products">
        {% for similar_product in similar_products %}
            <a href="{{ similar_product.get_absolute_url }}" class="similar_product">
                {% for image in similar_product.images.all %}
                    {% if forloop.first %}
                        <img src="{{ image.image.url }}" alt="similar product image">
                    {% endif %}
                {% endfor %}
                <h3 class="similar_product_title">{{ similar_product.title }}</h3>
                <p class="similar_product_price">{{ similar_product.price }} $</p>
            </a>
        {% endfor %}
    </aside>
    {% if page_obj.object_list or user.is_authenticated %}
        <h2>Reviews:</h2>
    {% endif %}
    {% if page_obj.object_list %}
        <aside class="reviews">
            {% for review in page_obj.object_list %}
                <section class="review">
                    <p class="review_user"><b>{{ review.user }}</b></p>
                    <p class="review_rating"><small>Rating: {{ review.rating }}</small></p>
                    <p class="review_text">{{ review.text }}</p>
                </section>
            {% endfor %}
        </aside>
    {% else %}
        <aside class="reviews"></aside>
    {% endif %}
    <aside class="paginator">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% else %}
            <span>&laquo;</span>
            <span>&lt;</span>
        {% endif %}
        <span>{{ page_obj.number }}</span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% else %}
            <span>&gt;</span>
            <span>&raquo;</span>
        {% endif %}
    </aside>
    {% if user.is_authenticated %}
        <script>
            async function createOrder() {
                let rating = document.querySelector('.create_review_rating');
                let review_text = document.querySelector('.create_review_text');
                let response = await fetch('/reviews/add/{{ product.pk }}/', {
                    method: 'POST',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    body: JSON.stringify({
                        'rating': rating.value,
                        'text': review_text.value
                    })
                });
                let json_response = await response.json();
                await createOrderItem(json_response);
                rating.value = '5';
                review_text.value = '';
            };

            async function createOrderItem(data) {
                let reviews = document.querySelector('.reviews');
                let review = document.createElement('section');
                review.className = 'review';
                review.innerHTML = `<p class="review_user"><strong>${data['user']}</strong></p><p class="review_rating"><small>Rating: ${data['rating']}</small></p><p class="review_text">${data['text']}</p>`;
                reviews.appendChild(review);
            };
        </script>
        <div class="create_review_form">
            <p>Rating: <select class="create_review_rating">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select></p>
            <p class="create_review_text_field">Review: <textarea class="create_review_text"></textarea></p>
            <p><button class="form_button create_review_button" onclick="createOrder();">Create review</button></p>
        </div>
    {% endif %}
</article>
{% endblock %}
