{% extends 'base.html' %}
{% load cart_extras %}

{% block title %}TestShop | {{ product.title }}{% endblock %}

{% block content %}
<script defer>
    function addToCart() {
        fetch('/cart/add/{{ product.pk }}/', {
            method: 'POST',
            headers: {'X-CSRFToken': '{{ csrf_token }}'}
        });
        let product_added_in_cart_message = document.querySelector(
            '.product_added_in_cart'
        );
        let product_add_to_cart_button = document.querySelector(
            '.product_add_to_cart'
        );
        product_add_to_cart_button.style.display = 'none';
        product_added_in_cart_message.style.display = 'block';
    }
</script>
<article class="concrete_product">
    <section class="concrete_product_info">
        <div class="concrete_product_images">
            {% for image in product.images.all %}
                {% if forloop.first %}
                    <img src="{{ image.image.url }}" alt="product image">
                {% endif %}
            {% endfor %}
        </div>
        <div class="concrete_product_right">
            <h1 class="concrete_product_title">{{ product.title }}</h1>
            <p class="concrete_product_price">{{ product.price }} $</p>
            <p class="concrete_product_short_description"><strong>Short description: </strong>{{ product.short_description }}</p>
            <p class="concrete_product_description"><strong>Description: </strong>{{ product.description }}</p>
            <p class="concrete_product_rating"><strong>Rating: </strong>{{ rating }}</p>
            {% if not product|is_in_cart:request %}
                <button type="button" class="product_add_to_cart" onclick="addToCart();">Add to cart</button>
                <p class="product_added_in_cart">Product added to cart</p>
            {% endif %}
        </div>
    </section>
    <aside class="similar_products">
        {% for similar_product in similar_products %}
            <section class="similar_product">
                <h2 class="similar_product_title">{{ similar_product.title }}</h2>
            </section>
        {% endfor %}
    </aside>
    <aside class="reviews">
        {% for review in reviews %}
            <section class="review">
                <p class="review_user">{{ review.user }}</p>
                <p class="review_text">{{ review.text }}</p>
            </section>
        {% endfor %}
    </aside>
</article>
{% endblock %}
