{% extends 'base.html' %}

{% block title %}TestShop | Shop{% endblock %}

{% block content %}
<section class="products">
    {% for product in page_obj.object_list %}
        <a href="{{ product.get_absolute_url }}" class="product">
            {% for image in product.images.all %}
                {% if forloop.first %}
                    <img src="{{ image.image.url }}" alt="product_preview">
                {% endif %}
            {% endfor %}
            <h2 class="product_title">{{ product.title }}</h2>
            <p class="product_price">{{ product.price }} $</p>
            <p class="product_short_description">{{ product.short_description }}</p>
        </a>
    {% empty %}
        <p>There are no products in the shop :(</p>
    {% endfor %}
</section>
{% if page_obj.paginator.num_pages > 1 %}
    <aside class="paginator">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% else %}
            <span>&laquo;</span>
            <span>&lt;</span>
        {% endif %}
        <span>{{ page_obj.number }}</span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% else %}
            <span>&gt;</span>
            <span>&raquo;</span>
        {% endif %}
    </aside>
    {% endif %}
{% endblock %}
