{% extends 'base.html' %}

{% block title %}TestShop | Shop{% endblock %}

{% block content %}
<section class="products">
    {% for product in products %}
        <a href="{{ product.get_absolute_url }}" class="product">
            {% for image in product.images.all %}
                {% if forloop.first %}
                    <img src="{{ image.image.url }}" alt="product_preview">
                {% endif %}
            {% endfor %}
            <h2 class="product_title">{{ product.title }}</h2>
            <p class="product_price">{{ product.price }} $</p>
            <p class="product_short_description">{{ product.short_description }}</p>
        </a>
    {% empty %}
        <p>There are no products in the shop :(</p>
    {% endfor %}
</section>
{% endblock %}
