{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap" rel="stylesheet"> 
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <div class="header_top">
                <div class="logo">
                    <h3>TestShop</h3>
                </div>
                <nav>
                    <a href="{% url 'homepage' %}" class="header_link">Home</a>
                    <a href="{% url 'shop' %}" class="header_link">Shop</a>
                    <a href="{% url 'cart_all_products' %}" class="header_link">Cart</a>
                    <a href="{% url 'all_orders' %}" class="header_link">Orders</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'account_logout' %}" class="header_link">Log Out</a>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="header_link">Log In</a>
                    {% endif %}
                </nav>
            </div>
            <form action="{% url 'shop' %}" method="GET">
                <select name="category" class="search_category_field">
                    <option value="">Select category</option>
                    {% for category in all_categories %}
                        {% if request.GET.category == category.pk.urn|slice:"9:" %}
                            <option selected value="{{ category.pk }}">{{ category.title }}</option>
                        {% else %}
                            <option value="{{ category.pk }}">{{ category.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select name="ord_by" class="search_ord_by_field">
                    {% if request.GET.ord_by == 'price_down' %}
                        <option selected value="price_down">Expensive at first</option>
                        <option value="price_up">Cheaper at first</option>
                    {% else %}
                        <option selected value="price_down">Expensive at first</option>
                        <option selected value="price_up">Cheaper at first</option>
                    {% endif %}
                </select>
                {% if request.GET.max_price %}
                    <input type="number" name="max_price" class="search_max_price_field" placeholder="Maximum price value" value="{{ request.GET.max_price }}">
                {% else %}
                    <input type="number" name="max_price" class="search_max_price_field" placeholder="Maximum price value">
                {% endif %}
                {% if request.GET.query %}
                    <input type="search" name="query" class="search_query_field" placeholder="Search query" value="{{ request.GET.query }}">
                {% else %}
                    <input type="search" name="query" class="search_query_field" placeholder="Search query">
                {% endif %}
                <input type="submit" value="Search" class="search_submit_button">
            </form>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
