* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #403F37;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #403F37;
    font-size: 1rem;
}

header {
    padding: 0.5rem;
}

.header_top {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.2rem;
}

header nav {
    display: flex;
    justify-content: space-around;
}

.header_link {
    height: 100%;
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: background-color .25s ease-in-out;
}

.header_link:hover {
    background-color: rgba(0,0,0,.03);
}

.search_form_container {
    overflow-x: auto;
}

header form {
    width: 5000px;
    max-width: 1160px;
    margin: 2rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header form select {
    background: #403F37;
    color: #FFF;
    border: 1px solid #403F37;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.search_category_field {
    border-radius: .5rem 0 0 .5rem;
}

header form input {
    padding: .5rem 1rem;
    font-size: 1rem;
    border: 2px solid rgba(0,0,0,.03);
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0,0,0,.03);
    transition: background-color .25s ease-in-out;
}

header form input:focus {
    outline: 0;
    background-color: #FFF;
    -moz-appearance: textfield;
}

.search_max_price_field, .search_query_field {
    border-right: 0;
}

.search_submit_button {
    color: #FFF;
    background: #403F37;
    border-radius: 0 .5rem .5rem 0;
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: 2px solid #403F37;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 3rem auto 0;
    padding: .5rem;
    padding-bottom: 4rem;
}

.preview {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(auto-fit, minmax(320px, 1fr));
    align-items: center; 
    justify-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    height: 80vh;
    margin: 0 auto;
    gap: 1rem;
    padding: 1rem;
}

.preview_text {
    width: 100%;
    max-width: 400px;
}

.preview_text h3 {
    font-size: 2.25rem;
}

.preview_illustration img {
    width: 100%;
    max-width: 500px;
}

.products_title {
    font-size: 2rem;
    text-align: center;
}

.products {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(auto-fill, minmax(330px, 1fr));
    width: 100%;
    gap: 1rem;
    justify-content: start;
    margin-top: 2rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1rem;
    padding: 2rem 1rem;
    transition: background-color .25s ease-in-out;
}

.product:hover {
    background-color: rgba(0,0,0,.03);
}

.product:hover .product_title {
    color: #FECE2F;
}

.product img {
    width: 100%;
    height: 320px;
    object-fit: contain;
}

.product_title {
    margin: 1rem 0 0;
    text-align: center;
    transition: color .25s ease-in-out;
}

.product_short_description {
    margin: 0;
    text-align: center;
}

.more_link {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

.more_link a {
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: background-color .25s ease-in-out;
}

.more_link a:hover {
    background-color: rgba(0,0,0,.03);
}

.cart_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 1rem;
    transition: background-color .25s ease-in-out;
    padding: 1rem 2rem;
}

.cart_product:hover {
    background-color: rgba(0,0,0,.03);
}

.cart_product:hover .cart_product_title {
    color: #FECE2F;
}

.cart_product img, .order_product img {
    width: 100%;
    max-width: 80px;
    height: 100px;
    object-fit: contain;
}

.cart_product_left, .order_product_left {
    display: flex;
    justify-content: start;
    align-items: center;
}

.cart_product_title {
    margin-bottom: 0;
    width: 100%;
    max-width: 500px;
    font-size: 1.5rem;
    transition: color .25s ease-in-out;
}

.cart_product_price {
    margin-top: .25rem;
}

.cart_product_title, .cart_product_price {
    margin-left: 2rem;
}

.cart_remove_product {
    background-color: #FECE2F;
    color: #403F37;
    border: 3px solid #FECE2F;
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

.cart_remove_product:hover {
    background-color: white;
    color: #FECE2F;
}

.cart_total_sum {
    text-align: right;
    color: rgba(0,0,0,.5);
    font-size: .9rem;
}

.cart_buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.cart_buttons input, .cart_buttons a {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #403F37;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 0;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
}

.cart_buttons input:hover, .cart_buttons a:hover {
    background-color: rgba(0,0,0,.03);
}

.auth_form h2 {
    font-size: 2rem;
}

.form_button {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border: 3px solid #FECE2F;
    background-color: #FECE2F;
    color: #403F37;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

.form_button:hover {
    background-color: white;
    color: #FECE2F;
}

.auth_form {
    width: 100%;
    max-width: 350px;
}

.auth_form input {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    border: 2px solid rgba(0,0,0,.03);
    background-color: rgba(0,0,0,.03);
    font-size: 1rem;
    padding: .5rem 1rem;
    margin-top: .25rem;
    border-radius: 1rem;
    transition: background-color .25s ease-in-out;
}

.auth_form input:focus {
    outline: 0;
    background-color: white;
}

.auth_form button {
    margin-top: .5rem;
}

.errorlist {
    width: 100%;
    background-color: rgba(255,255,0,.05);
    color: #FECE2F;
    border-radius: .5rem;
    border: 2px solid #FECE2F;
    padding: 1rem 2rem;
}

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: background-color .25s ease-in-out;
}

.order_id {
    font-size: 1.5rem;
    margin-bottom: 0;
    transition: color .25s ease-in-out;
}

.order:hover {
    background-color: rgba(0,0,0,.03);
}

.order:hover .order_id {
    color: #FECE2F;
}

.concrete_order_id {
    font-size: 2rem;
}

.order_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    transition: background-color .25s ease-in-out;
}

.order_product:hover {
    background-color: rgba(0,0,0,.03);
}

.order_product:hover .order_product_title {
    color: #FECE2F;
}

.order_product_left {
    width: 50%;
}

.order_product_title {
    font-size: 1.5rem;
    margin-left: 1rem;
    transition: color .25s ease-in-out;
}

.delete_order {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #403F37;
    background: white;
    border: 0;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
}

.delete_order:hover {
    background-color: rgba(0,0,0,.03);
}

.concrete_product_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.concrete_product_images img {
    width: 100%;
    max-width: 200px;
    object-fit: contain;
}

.concrete_product_right {
    width: 100%;
    max-width: 500px;
}

.concrete_product_title {
    font-size: 2rem;
    margin-bottom: 0;
}

.concrete_product_price {
    font-size: 1.25rem;
}
