* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #403F37;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input, select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #403F37;
    font-size: 1rem;
}

header {
    padding: 0.5rem;
}

.mobile_header_navigation {
    display: none;
}

.header_top {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.2rem;
}

header nav {
    display: flex;
    justify-content: space-around;
}

.header_link {
    height: 100%;
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: background-color .25s ease-in-out;
}

.header_link:hover {
    background-color: rgba(0,0,0,.03);
}

.search_form_container {
    overflow-x: auto;
}

header form {
    width: 5000px;
    max-width: 1150px;
    margin: 2rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header form select {
    background: #403F37;
    color: #FFF;
    border: 2px solid #403F37;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    height: 100%;
    outline: none;
}

.search_category_field {
    border-radius: .5rem 0 0 .5rem;
    margin: 0;
}

header form input {
    padding: .5rem 1rem;
    font-size: 1rem;
    border: 2px solid rgba(0,0,0,.03);
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0,0,0,.03);
    transition: background-color .25s ease-in-out;
}

header form input:focus {
    outline: 0;
    background-color: #FFF;
    -moz-appearance: textfield;
}

.search_max_price_field, .search_query_field {
    border-right: 0;
}

.search_submit_button {
    color: #FFF;
    background: #403F37;
    border-radius: 0 .5rem .5rem 0;
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: 2px solid #403F37;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 3rem auto 0;
    padding: .5rem;
    padding-bottom: 4rem;
}

.preview {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(auto-fit, minmax(320px, 1fr));
    align-items: center; 
    justify-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin: 2rem auto;
    gap: 1rem;
    padding: 1rem;
}

.preview_text {
    width: 100%;
    max-width: 400px;
}

.preview_text h3 {
    font-size: 2.25rem;
}

.preview_illustration img {
    width: 100%;
    max-width: 500px;
}

.products_title {
    font-size: 2rem;
    text-align: center;
}

.products {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(auto-fill, minmax(330px, 1fr));
    width: 100%;
    gap: 1rem;
    justify-content: start;
    margin-top: 2rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1rem;
    padding: 2rem 1rem;
    transition: background-color .25s ease-in-out;
}

.product:hover {
    background-color: rgba(0,0,0,.03);
}

.product:hover .product_title {
    color: #FECE2F;
}

.product img {
    width: 100%;
    height: 320px;
    object-fit: contain;
}

.product_title {
    margin: 1rem 0 0;
    text-align: center;
    transition: color .25s ease-in-out;
}

.product_short_description {
    margin: 0;
    text-align: center;
}

.more_link {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

.more_link a {
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: background-color .25s ease-in-out;
}

.more_link a:hover {
    background-color: rgba(0,0,0,.03);
}

.cart_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 1rem;
    transition: background-color .25s ease-in-out;
    padding: 1rem 2rem;
}

.cart_product:hover {
    background-color: rgba(0,0,0,.03);
}

.cart_product:hover .cart_product_title {
    color: #FECE2F;
}

.cart_product img, .order_product img {
    width: 100%;
    max-width: 80px;
    height: 100px;
    object-fit: contain;
}

.cart_product_left, .order_product_left {
    display: flex;
    justify-content: start;
    align-items: center;
}

.cart_product_title {
    margin-bottom: 0;
    width: 100%;
    max-width: 500px;
    font-size: 1.5rem;
    transition: color .25s ease-in-out;
}

.cart_product_price {
    margin-top: .25rem;
}

.cart_product_title, .cart_product_price {
    margin-left: 2rem;
}

.cart_remove_product {
    background-color: #FECE2F;
    color: #403F37;
    border: 3px solid #FECE2F;
    padding: .6rem .8rem .45rem;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

.cart_remove_product img {
    width: 15px;
    height: 15px;
}

.cart_remove_product:hover {
    background-color: white;
    color: #FECE2F;
}

.cart_total_sum {
    text-align: right;
    color: rgba(0,0,0,.5);
    font-size: .9rem;
}

.cart_buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.cart_buttons input, .cart_buttons a {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #403F37;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 0;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
}

.cart_buttons input:hover, .cart_buttons a:hover {
    background-color: rgba(0,0,0,.03);
}

.auth_form h2 {
    font-size: 2rem;
}

.form_button {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border: 3px solid #FECE2F;
    background-color: #FECE2F;
    color: #403F37;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

.form_button:hover {
    background-color: white;
    color: #FECE2F;
}

.auth_form {
    width: 100%;
    max-width: 350px;
}

.auth_form input {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    border: 2px solid rgba(0,0,0,.03);
    background-color: rgba(0,0,0,.03);
    font-size: 1rem;
    padding: .5rem 1rem;
    margin-top: .25rem;
    border-radius: 1rem;
    transition: background-color .25s ease-in-out;
}

.auth_form input:focus {
    outline: 0;
    background-color: white;
}

.auth_form button {
    margin-top: .5rem;
}

.errorlist {
    width: 100%;
    background-color: rgba(255,255,0,.05);
    color: #FECE2F;
    border-radius: .5rem;
    border: 2px solid #FECE2F;
    padding: 1rem 2rem;
}

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: background-color .25s ease-in-out;
}

.order_id {
    font-size: 1.5rem;
    margin-bottom: 0;
    transition: color .25s ease-in-out;
}

.order:hover {
    background-color: rgba(0,0,0,.03);
}

.order:hover .order_id {
    color: #FECE2F;
}

.concrete_order_id {
    font-size: 2rem;
}

.order_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    transition: background-color .25s ease-in-out;
}

.order_product:hover {
    background-color: rgba(0,0,0,.03);
}

.order_product:hover .order_product_title {
    color: #FECE2F;
}

.order_product_left {
    width: 50%;
}

.order_product_title {
    font-size: 1.5rem;
    margin-left: 1rem;
    transition: color .25s ease-in-out;
}

.delete_order {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #403F37;
    background: white;
    border: 0;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
}

.delete_order:hover {
    background-color: rgba(0,0,0,.03);
}

.concrete_product_info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.concrete_product_images {
    width: 50%;
}

.owl-carousel img {
    display: block;
    height: 400px;
    object-fit: contain;
}

.owl-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
}

.owl-nav button {
    font-size: 4rem !important;
}

.owl-dots {
    display: none;
}

.concrete_product_right {
    width: 100%;
    max-width: 500px;
}

.concrete_product_title {
    font-size: 2rem;
    margin-bottom: 0;
}

.concrete_product_price {
    font-size: 1.25rem;
}

.product_add_to_cart {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border: 0;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: white;
    cursor: pointer;
    text-align: center;
    transition: background-color .25s ease-in-out;
}

.product_add_to_cart:hover {
    background-color: rgba(0,0,0,.03);
}

.product_added_in_cart {
    color: #FECE2F;
    display: none;
}

.similar_products_title {
    font-size: 1.85rem;
    margin: 2rem 0;
}

.similar_products {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: auto;
    gap: 3rem;
    padding: 0 3rem;
}

.similar_product {
    padding: 1rem;
    border-radius: 1rem;
    transition: background-color .25s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.similar_product h3 {
    transition: color .25s ease-in-out;
}

.similar_product:hover {
    background-color: rgba(0,0,0,.03);
}

.similar_product:hover h3 {
    color: #FECE2F;
}

.similar_product h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0 0 0;
}

.similar_product img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.similar_product_price {
    text-align: center;
}

.create_review_form p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.create_review_rating {
    padding: .25rem 1rem;
    background-color: rgba(0,0,0,.03);
    border-radius: 1rem;
    border: 2px solid rgba(0,0,0,.03);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.create_review_text {
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 100px;
    font-family: 'Poppins', sans-srif;
    font-size: 1rem;
    background-color: rgba(0,0,0,.03);
    border: 2px solid rgba(0,0,0,.03);
    transition: background-color .25s ease-in-out;
    border-radius: 1rem;
    padding: 1rem;
}

.create_review_text:focus {
    background-color: white;
}

.concrete_product h2 {
    margin: 2rem 0;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.review {
    width: 100%;
    padding: 1rem;
    background-color: rgba(0,0,0,.03);
    border-radius: 1rem;
}

.review_rating, .review_user {
    margin: 0;
}

.paginator {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    margin-top: 2rem;
}

.paginator span, .paginator a {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: rgba(0,0,0,.03);
    border-radius: .5rem;
}

.paginator a {
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

.paginator span {
    background-color: white;
}

.paginator a:hover {
    background-color: white;
    color: #FECE2F;
}

@media (max-width: 700px) {
    header nav {
        display: none;
    }

    main {
        padding: 1rem;
        margin-bottom: 5rem;
        margin-top: 1rem;
    }

    .header_top {
        justify-content: center;
    }

    .header_top h3 {
        font-size: 2rem;
        margin: 2rem 0 0;
    }

    .preview {
        margin-top: 0;
    }

    .preview_text h3 {
        margin-top: 0;
        text-align: center;
    }

    .preview_text p {
        text-align: justify;
    }

    .concrete_product_right p {
        text-align: justify;
    }

    .concrete_product_right p.concrete_product_price {
        text-align: center;
    }

    .similar_product:hover {
        background-color: white;
    }

    .similar_product:hover h3 {
        color: #403F37;
    }

    .similar_products_title {
        text-align: center;
    }

    header form {
        max-width: 850px;
    }

    header form input {
        width: 210px;
    }

    .mobile_header_navigation {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        width: 100%;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        padding: .8rem 0;
    }

    .mobile_header_navigation a {
        padding: .8rem .8rem .3rem .8rem;
        background-color: rgba(0,0,0,.03);
        border-radius: 1rem;
    }

    .mobile_header_navigation a img {
        width: 20px;
        object-fit: contain;
    }

    .more_link a {
        background-color: rgba(0,0,0,.03);
    }

    .more_link:hover {}

    .products {
        margin-top: 0;
    }

    .product:hover {
        background-color: white;
    }

    .product:hover .product_title {
        color: #403F37;
    }

    .concrete_product_info {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .concrete_product_title, .concrete_product_price {
        text-align: center;
    }

    .product_add_to_cart {
        background-color: rgba(0,0,0,.03);
        margin: 0 auto;
        width: 100%;
    }

    .product_add_to_cart:hover {}

    .similar_products {
        padding: .25rem;
        gap: 1rem;
    }

    .order {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem 0;
    }

    .order:hover {
        background-color: white;
    }

    .order:hover .order_id {
        color: #403F37;
    }

    .order h3 {
        margin-top: 0
    }

    .order_total_price {
        margin: 0;
    }

    .cart_product {
        padding: 0;
        margin-bottom: 2rem
    }

    .cart_product_title, .cart_product_price {
        margin-left: .5rem;
    }

    .cart_product_title {
        max-width: 150px;
    }

    .cart_remove_product {
        padding: .65rem .75rem .35rem;
    }

    .cart_buttons {
        display: block;
    }

    .clear_cart_form {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .cart_buttons input, .cart_buttons a {
        background-color: rgba(0,0,0,.03);
    }

    .clear_cart_button:hover, .create_order:hover {}

    .cart_product:hover {
        background-color: white;
    }

    .cart_product:hover .cart_product_title {
        color: #403F37;
    }

    .create_review_text_field {
        flex-direction: column;
        gap: 0;
    }

    .create_review_text {
        min-width: 100%;
        max-width: 100%;
    }

    .create_review_button, #create_order_button {
        margin-top: 1rem;
        width: 100%;
    }

    .order_product {
        padding: 0;
    }

    .order_product:hover {
        background-color: white;
    }

    .order_product:hover .order_product_title {
        color: #403F37;
    }

    .order_product_title {
        margin-left: 0.5rem;
    }

    .delete_order {
        width: 100%;
        background-color: rgba(0,0,0,.03);
    }

    .delete_order:hover {}

    .concrete_product_images {
        width: 100%;
    }

    .owl-nav {
        display: none;
    }

    .owl-dots {
        display: block;
    }
}
